/*
 * Hub Administration
 * This version of the API allows management of OPA Hub users, deployments, and version information.
 *
 * OpenAPI spec version: 12.2.8
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */


package oracle.opa.hub.client.api;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;

import oracle.opa.hub.client.ApiCallback;
import oracle.opa.hub.client.ApiClient;
import oracle.opa.hub.client.ApiException;
import oracle.opa.hub.client.ApiResponse;
import oracle.opa.hub.client.Configuration;
import oracle.opa.hub.client.Pair;
import oracle.opa.hub.client.ProgressRequestBody;
import oracle.opa.hub.client.ProgressResponseBody;
import oracle.opa.hub.client.model.DeploymentLogs;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class DeploymentsDeploymentLogsApi {
    private ApiClient apiClient;

    public DeploymentsDeploymentLogsApi() {
        this(Configuration.getDefaultApiClient());
    }

    public DeploymentsDeploymentLogsApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /**
     * Build call for getDeploymentLogs
     * @param deploymentName  (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getDeploymentLogsCall(String deploymentName, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/deployments/{deployment-name}/logs"
            .replaceAll("\\{" + "deployment-name" + "\\}", apiClient.escapeString(deploymentName.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "opa_auth" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getDeploymentLogsValidateBeforeCall(String deploymentName, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'deploymentName' is set
        if (deploymentName == null) {
            throw new ApiException("Missing the required parameter 'deploymentName' when calling getDeploymentLogs(Async)");
        }
        
        
        com.squareup.okhttp.Call call = getDeploymentLogsCall(deploymentName, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Get one or more deployment logs
     * This operation will get one or more deployment logs
     * @param deploymentName  (required)
     * @return DeploymentLogs
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public DeploymentLogs getDeploymentLogs(String deploymentName) throws ApiException {
        ApiResponse<DeploymentLogs> resp = getDeploymentLogsWithHttpInfo(deploymentName);
        return resp.getData();
    }

    /**
     * Get one or more deployment logs
     * This operation will get one or more deployment logs
     * @param deploymentName  (required)
     * @return ApiResponse&lt;DeploymentLogs&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<DeploymentLogs> getDeploymentLogsWithHttpInfo(String deploymentName) throws ApiException {
        com.squareup.okhttp.Call call = getDeploymentLogsValidateBeforeCall(deploymentName, null, null);
        Type localVarReturnType = new TypeToken<DeploymentLogs>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Get one or more deployment logs (asynchronously)
     * This operation will get one or more deployment logs
     * @param deploymentName  (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getDeploymentLogsAsync(String deploymentName, final ApiCallback<DeploymentLogs> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getDeploymentLogsValidateBeforeCall(deploymentName, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<DeploymentLogs>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
}
